* {
  font-family: "Roboto Condensed", sans-serif;
}
body{
    margin: 0;
    padding: 0;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
  width: 40%;
}
.heart{
  background-image: url(images/heart.png);
  background-size: cover;
  background-position: center;
  height: 10vh;
  margin-left: 2%;
  width: 10vh;
  border-radius: 10px;

}
body.dark-theme {
  background-color: #1a1a1a;
  color: #e0e0e0;
}